.result {
    height: 60px;
    background-color: #605d55;
    width: 100%;
  }
  
  .result p {
    font-size: 40px;
    color: #f0ead6;
    align-items: center;
    padding-top: 10px;
    margin: 0;
    font-weight: 900;
    
  
  }
  
  .calculator-body {
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    text-align: center;
  }

  h1{
    color: #605d55;
    font-weight: 900;
  }
  
  .button {
    display: block;
  }
  
  button {
    width: 25%;
    height: 60px;
    font-size: 30px;
    background-color: #c0bbab;
  }